<div id="navbar-solution">

  <div class="collapse show collapse-horizontal" id="collapseWidthNavbar">
    <div class="vertical-nav bg-dark">

      <div class="py-4 px-3 mb-4">
        <div class="d-flex align-items-center" id="profile">
          <img src="assets/pdp.jpg" alt="Photo de profil" width="65" class="rounded-circle img-thumbnail">
          <div id="profile_description">
            <h4 class="m-0 text-white">Eloi Rivière</h4>
            <p class="font-weight-light text-muted mb-0">Développeur</p>
          </div>
        </div>
      </div>

      <p class="text-white text-uppercase bg-dark px-3 pb-4 mb-0">Main</p>

      <ul class="nav flex-column bg-dark mb-0">
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            About
          </a>
        </li>
      </ul>

    </div>
  </div>

  <button class="navbar-toggler navbar-dark bg-dark" type="checkbox" data-bs-toggle="collapse"
    data-bs-target="#collapseWidthNavbar" aria-controls="collapseWidthNavbar" aria-expanded="true"
    aria-label="Toggle navigation" id="toggler">
    <span class="navbar-toggler-icon"></span>
  </button>

</div>

<div id="page"></div>
